@import '../utils/variables';
@import '../utils/mixins';
@import '../../libs/include-media/dist/include-media';

.icon-peace {
  display: inline-block;
  height: 6rem;
  width: 3.8rem;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/icon-peace.png);
  background-size: contain;

  @include media('<mob') {
    height: 6rem;
    width: 3.8rem;
  }
}

.icon-phone {
  display: inline-block;
  height: 1.33rem;
  width: 1.33rem;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/icon-phone.svg);
  background-size: contain;

  @include media('<mob') {
    height: 2rem;
    width: 2rem;
    margin-right: 0.9rem;
  }
}

.icon-telegram {
  display: inline-block;
  height: 1.33rem;
  width: 1.33rem;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/icon-telegram.svg);
  background-size: contain;

  @include media('<mob') {
    height: 2rem;
    width: 2rem;
    margin-right: 0.9rem;
  }
}

/* ==================================== */
/* ============== HEADER ============== */
/* ==================================== */
.header {
  position: relative;
  z-index: 50;

  &_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-width: $layout-page-min-width;
  }
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9rem 0 0;
  line-height: 1;

  @include media('<mob') {
    padding-top: 2.2rem;
  }

  &__left {
    position: relative;
    $width: 56.6%;
    flex: 1 0 $width;
    max-width: $width;

    @include media("<mob") {
      $width: 50%;
      flex: 1 0 $width;
      max-width: $width;
    }
  }

  &__right {
    position: relative;
    $width: 32%;
    flex: 1 0 $width;
    max-width: $width;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("<mob") {
      $width: 50%;
      flex: 1 0 $width;
      max-width: $width;
    }
  }
}

/* logo */
.logo {
  overflow: hidden;
  position: relative;
  margin: 0.7rem 0 0;
  width: 14rem;
  flex-shrink: 0;
  z-index: 5;

  @include media('<mob') {
    width: 14rem;
    height: 5rem;
  }

  &::before {
    content: '';
    display: block;
    @include ratio(238, 60);
  }

  a,
  &>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &>span {
      @include hide-text;
    }
  }

  .logo_dark,
  .logo_light {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    //background-position: 50%;
    background-size: contain;
    will-change: transform;
    transition: transform 0.8s;
  }

  .logo_dark {
    background-image: url(../../img/logo.svg);
  }

  .logo_light {
    background-image: url(../../img/logo-alt.svg);
    $translate: 0, 102%;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }

  .logo-theme-light & {
    .logo_dark {
      $translate: 0, -102%;
      transform: translate($translate);
      transform: translate3d($translate, 0);
    }

    .logo_light {
      $translate: 0, 0;
      transform: translate($translate);
      transform: translate3d($translate, 0);
    }
  }
}

/* logo end */

/* lang */
.lang {
  @include font-alt-extra-bold;
  color: $text-color;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 auto;

  @include media('<mob') {
    display: none;
  }

  &__inner {
    height: 2.6rem;
    width: 2.6rem;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: inherit;
    transition: color 0.35s;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      $size: 4rem;
      height: $size;
      width: $size;
      border-radius: $size;
      margin: -#{$size / 2 + 0.1} 0 0 -#{$size / 2};
      opacity: 0;
      background-color: black;
      transition: opacity 0.35s, transform 0.35s, background-color 0.35s;
      transform: translateZ(0) scale3d(0.5, 0.5, 1);
      z-index: -1;
    }

    &:hover {
      &::before {
        opacity: 0.35;
        transform: translateZ(0) scale3d(1, 1, 1);
      }
    }

    .logo-theme-light & {
      color: white;

      &::before {
        background-color: white;
      }
    }
  }
}

/* lang end */

/* ==================================== */
/* ============ NAVIGATION ============ */
/* ==================================== */
.nav-wrap {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  // Поднять над контентом
  z-index: 50;

  // ------ бутерброд -----------------------------------------
  @include media('<mob') {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 48rem;
    max-width: 100%;
    text-align: left;
    background-color: #fff;
    z-index: 999;

    transition: {
      property: opacity, visibility, transform;
      duration: $animation-speed;
    }

    // hide
    opacity: 0;
    $translate: -100%,
    0;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }

  @include media('<tab-s') {
    width: 32rem;
  }

  @include media('<mob') {
    width: 100%;
  }

  &.is-open {

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      opacity: 1;
      $translate: 0, 0;
      transform: translate($translate);
      transform: translate3d($translate, 0);
    }
  }
}

// Overlay
.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.8);
  z-index: 998;
  transition: opacity $animation-speed;

  opacity: 0;
  pointer-events: none;

  display: none;

  // ------ бутерброд -----------------------------------------
  @include media('<mob') {
    display: block;
  }
}

.nav-wrap.is-open~.nav-overlay {
  opacity: 1;
  pointer-events: auto;
}

// Navigation opener
.nav-opener {
  display: block;
  position: relative;
  $size: 4rem;
  height: $size;
  width: 1.4rem;
  font-size: 0;
  line-height: 0;
  margin-left: auto;
  cursor: pointer;

  display: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &::before {
    height: 1.4rem;
    width: 1.4rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDBDMC44OTU0MzEgMCAwIDAuODk1NDMgMCAyVjEyQzAgMTMuMTA0NiAwLjg5NTQzIDE0IDIgMTRIMTJDMTMuMTA0NiAxNCAxNCAxMy4xMDQ2IDE0IDEyVjJDMTQgMC44OTU0MzEgMTMuMTA0NiAwIDEyIDBIMlpNNSAyQzQuNDQ3NzIgMiA0IDIuNDQ3NzIgNCAzVjExQzQgMTEuNTUyMyA0LjQ0NzcyIDEyIDUgMTJDNS41NTIyOCAxMiA2IDExLjU1MjMgNiAxMVYzQzYgMi40NDc3MiA1LjU1MjI4IDIgNSAyWiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K);
  }

  @include media('<mob') {
    display: block;
  }

  &.is-open {
    &::before {
      display: none;
    }
  }
}

// Navigation header (for mobile)
.nav-header {
  position: relative;
  //display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 0 0 0 1.5rem;
  border-bottom: 0.1rem solid rgba(white, 0.5);

  display: none;

  @include media('<mob') {
    display: flex;
    padding: 2.2rem 0;
  }
}

// Logo in nav
.logo-nav {
  display: block;
  position: relative;
  height: 5rem;
  width: 14rem;
  font-size: 0;
  line-height: 0;
  background-image: url(../../img/logo.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 85%;
}

// Navigation close button
.nav-close-btn {
  position: relative;
  display: block;
  $size: 5rem;
  height: $size;
  width: $size;
  margin-left: auto;
  overflow: hidden;
  text-indent: -999rem;

  &::before {
    content: '';
    display: block;
    $size: 1.4rem;
    height: $size;
    width: $size;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAwQzEzLjEwNDYgMCAxNCAwLjg5NTQzIDE0IDJWMTJDMTQgMTMuMTA0NiAxMy4xMDQ2IDE0IDEyIDE0SDJDMC44OTU0MzEgMTQgMCAxMy4xMDQ2IDAgMTJWMkMwIDAuODk1NDMxIDAuODk1NDMxIDAgMiAwSDEyWk05IDJDOS41NTIyOCAyIDEwIDIuNDQ3NzIgMTAgM1YxMUMxMCAxMS41NTIzIDkuNTUyMjggMTIgOSAxMkM4LjQ0NzcyIDEyIDggMTEuNTUyMyA4IDExVjNDOCAyLjQ0NzcyIDguNDQ3NzIgMiA5IDJaIiBmaWxsPSIjMzMzMzMzIi8+Cjwvc3ZnPgo=);
    background-size: contain;
  }
}

// Navigation
.nav {
  position: relative;
  display: inline-block;
  vertical-align: top;

  // ------ бутерброд -----------------------------------------
  @include media('<mob') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.nav__list {
  $nav-inner-space: 1.5rem 2rem;
  $nav-arrow-size: 4rem;
  $nav-item-space: 1em 1.5rem;
  $nav-item-indent: 0.4;

  display: flex;
  flex-wrap: wrap;
  cursor: default;
  @include font-roboto-normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $text-color;
  text-align: left;
  transition: color 0.7s;

  .logo-theme-light & {
    color: #fff;
  }

  @include media('<net') {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  @include media('<tab') {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  // Все ul
  &,
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // ------ бутерброд -----------------------------------------
  @include media('<mob') {
    display: block;
  }

  // Все li,
  // кроме li первого уровня (для них стили ниже)
  li {
    position: relative;

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      // Слева текст, справа стрелка
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  // Все "a" и "span"
  // "a" заменять на "span" в пункте текущей страницы
  a,
  li>span {
    //display: block;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      padding: 0 0 0 3.2rem;
      overflow: visible;
    }
  }

  // Все "a"
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      $width: calc(100% - #{$nav-arrow-size});
      max-width: $width;
      color: #3f3f3f !important;
    }
  }

  // Пункты, в которых есть подменю
  li.has-sub {

    &>a,
    &>span {
      padding-right: $nav-arrow-size;

      // ------ бутерброд -----------------------------------------
      @include media('<mob') {
        padding-right: 1rem;

        // Если в пункте есть стрелка,
        // то нужно ограничить максимальную ширину "a"
        max-width: calc(100% - #{$nav-arrow-size});
      }
    }
  }

  // Вложенные ul (sub menu)
  ul {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    flex-basis: 100%;
    display: none;

    // transition
    transition: opacity $animation-speed, visibility $animation-speed;

    // Important!
    // Для разрешений выше планшетных
    @include media('>=tab') {
      display: block !important; // Важно! Перебить инлайновые стили установленные скпиптом
      position: absolute;
      right: 0;
      top: 100%;
      width: 28rem;
      padding: 1.5rem 0;
      opacity: 0;
      visibility: hidden; // При переводе фокуса табом, элементы внутри скрытого дропа игнорируются
      pointer-events: none; // На это ствойство не добавлять анимацию
    }

    &::before {
      $intend: 1rem -0.5rem;
      content: '';
      display: block;
      position: absolute;
      top: #{nth($intend, 1)};
      left: #{nth($intend, 2)};
      height: calc(100% - #{nth($intend, 1)} * 2);
      width: calc(100% - #{nth($intend, 2)} * 2);
      background-color: $bg-color-alt;
      //@include linear-gradient(180deg, #3c3c3c 0%, #6a6a6a 100%);
      //box-shadow: 0 0.2rem 3.3rem rgba(0, 0, 0, 0.5);
      border-radius: 0.2rem;
      z-index: -1;

      // ------ бутерброд -----------------------------------------
      @include media('<mob') {
        content: none;
      }
    }

    // Позицирование подменю
    // ВТОРОГО и глубже уровней
    ul {
      left: 100%;
      top: -0.5rem;
      text-transform: none;

      // ------ бутерброд -----------------------------------------
      @include media('<mob') {
        left: auto;
        top: auto;
      }
    }

    // Пункты ВТОРГО уровня и глубще
    li {
      margin: 0.5rem 0 0;

      // ------ бутерброд -----------------------------------------
      @include media('<mob') {
        margin: 0;
        padding: #{nth($nav-item-space, 1)} 0 0 #{nth($nav-item-space, 2)};
      }

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: block;
      transition: color $animation-speed;
    }

    // Hover
    li {

      // Класс .hover добавляется скриптом
      &.hover,
      .no-js &:hover {

        &>a,
        &>span {
          color: $highlight-color;
        }
      }
    }

    // Current
    li.current {

      &>a,
      &>span {
        color: $highlight-color;

        @include media('<mob') {
          color: $text-color-muted;
        }
      }
    }

    // Current Hover
    li.current.hover {
      &>a {
        color: white;
      }
    }
  }

  // Для текущей страницы
  li.current>ul {
    display: block;
  }

  // Показать подменю.
  // Класс .hover добавляется скриптом.
  // Если отключены скрипты, Показывать через :hover.
  li.hover>ul,
  .no-js & li:hover>ul {

    // Для разрешений выше планшетных
    @include media('>=tab') {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 5;
    }
  }

  // Стрелка для разворачивания подменю.
  li>em {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 0;
    line-height: 0;
    height: $nav-arrow-size;
    width: $nav-arrow-size;
    margin-top: -#{round-float($nav-arrow-size / 2, 1)};
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: $text-color;
    transform: rotate(-90deg);
    transition: color $animation-speed;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    user-select: none;
    outline: none;

    &.jsNav__arrow_on {
      pointer-events: auto;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      $size: 1.2rem;
      height: $size;
      width: $size;
      margin: -#{round-float($size / 2, 1)} 0 0 -#{round-float($size / 2, 1)};
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxLjIyMjY2TDguMjA5OTYgOC42MjEwOUwxNS40MTk5IDEuMjIyNjYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }

    &:hover {
      &::after {
        @include linear-gradient(to bottom, lighten($base-color, 10%) 0%, $base-color 100%);
      }
    }

    @at-root {
      @include media('<mob') {
        li.is-open>em {
          transform: rotate(180deg);
        }
      }
    }

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      position: relative;
      top: auto;
      right: auto;
      margin: -1rem -1.5rem -1rem 0;
      transform: rotate(0);
      pointer-events: auto;
    }

    // Open, Hover
    @at-root {
      li.hover>em {
        transform: rotate(90deg);
      }

      @include media('<mob') {
        li.is-open>em {
          transform: rotate(180deg);
        }
      }
    }
  }

  // li ПЕРВОГО уровня
  &>li {
    margin: 0 0.6rem;
    //@include font-bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    // ------ бутерброд -----------------------------------------
    @include media('<mob') {
      padding: $nav-item-space;
      margin: 0;

      &:before {
        content: '';
        display: block;
        width: 0.8rem;
        height: 0.2rem;
        background-color: #000;
      }
    }

    // Все "a" и "span" первого уровня
    // "a" заменять на "span" в пункте текущей страницы
    &>a,
    &>span {
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0.4rem;
        width: calc(100% - 0.8rem);
        height: 0.2rem;
        //border-radius: 50%;
        background-color: currentColor;
        transform-origin: 100% 100%;
        $scale: 0, 1;
        transform: scale($scale);
        transform: scale3d($scale, 1);

        // transition
        backface-visibility: hidden;
        $prop: transform, opacity;
        will-change: $prop;

        transition: {
          property: $prop;
          duration: $animation-speed;
          //timing-function: ease-in-out;
          timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
        }

        // ------ бутерброд -----------------------------------------
        @include media('<mob') {
          content: none;
        }
      }
    }

    // Стрелка для разворачивания подменю
    &>em {
      // Если стили стрелок первого уровня навигаци отличаются, от остальных
      display: none;

      // ------ бутерброд -----------------------------------------
      @include media('<mob') {
        display: block;
      }
    }

    // Hover
    // Класс .hover добавляется скриптом
    &.hover,
    .no-js &:hover {
      &>a {
        &::before {
          transform-origin: 0 100%;

          $scale: 1, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }
    }

    // Пункт для текущей страницы
    // Current
    &.current {

      &>a,
      &>span {
        //@include font-bold;
        position: relative;
        z-index: 1;
        overflow: visible;
        cursor: default;
        color: $text-color-muted;

        // ------ бутерброд -----------------------------------------
        @include media('<mob') {
          color: $text-color-muted;
        }

        &::after {
          content: '';
          position: absolute;
          top: -2.1rem;
          left: 0.5rem;
          right: 0.5rem;
          height: 0.5rem;
          background-color: $highlight-color;

          will-change: transform, opacity;
          transition: transform $animation-speed * 1.5;
          transform-origin: 3rem center;

          $scale: 0, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);

          z-index: -1;

          html.ready &,
          html.no-js & {
            opacity: 1;
            $scale: 1, 1;
            transform: scale($scale);
            transform: scale3d($scale, 1);
          }

          // ------ бутерброд -----------------------------------------
          @include media('<mob') {
            content: none;
          }
        }
      }
    }
  }
}

.mobile-info {
  display: none;

  @include media('<mob') {
    display: block;
    padding: 0 1.5rem;
  }

  &>.share {
    display: flex;
    justify-content: space-around;

    &>a.share__item {
      padding: 0;
    }
  }
}

.mobile-info>.cont-list {
  opacity: 1;
  margin-bottom: 7.9rem;

  .cont-list__item {
    display: flex;
    align-items: center;

    &>a {
      padding: 0;
      margin-left: 1.6rem;
    }
  }
}



/* ==================================== */
/* ============= FOOTER =============== */
/* ==================================== */
.footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.43;
  border-top: 1px solid #ccc;

  a {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 -1px 0 transparent;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: inset 0 -1px 0 currentColor;
    }
  }

  &.fp-section-js {
    height: auto !important;
  }
}

/* ==================================== */
/* ============== MAIN ================ */
/* ==================================== */
.main {
  position: relative;
  padding: 3.9rem 0 6rem;

  & .main__layout {
    height: 100%;
  }

  &__contacts {
    height: 100%;
    padding: 0 0 3.4rem;
  }

  &__footer {
    &-site {
      font-family: 'Roboto';
      font-size: 1.2rem;
      line-height: 3.7rem;

      letter-spacing: 1.4px;
      text-transform: uppercase;

      color: #bbbbbb;
    }

    &-network {
      display: flex;
      justify-content: space-between;

      li {
        margin-right: 10px;
      }
    }
  }
}

.h-main {
  overflow: hidden;

  &__footer {
    background-color: white;
    border-top: 1px solid $border-color;
  }
}

.content {
  background-color: rgba(whitesmoke, 0.8);
}

/* words */
.wbg {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: visible; // fix for safari
  z-index: -1;
  opacity: 0.5;
}

.wbg__list {
  position: relative;
  height: 100%;
  will-change: transform;
}

.wbg__item {
  position: absolute;
  left: 0;
  top: 0;
  @include font-bold;
  font-size: 26.7rem;
  line-height: 1;
  color: #000;
  white-space: nowrap;
  cursor: default;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: left top;
  pointer-events: none;
  transition: opacity 1s;

  @include media('<mob') {
    font-size: 21.5rem;
    line-height: 21.5rem;
  }

  &:nth-child(1) {
    font-size: 28.2rem;
    margin-left: calc(1 * (1em - 0.08em));
    opacity: 0.1;
    margin-top: -9.1rem;

    @include media('<mob') {
      margin-left: calc(1 * (1em - 12.8rem));
      margin-top: -25rem;
    }
  }

  &:nth-child(2) {
    margin-left: calc(2 * (1em - 0.16em));
    opacity: 0.08;
    margin-top: 2.3rem;

    @include media('<mob') {
      margin-left: calc(2 * (1em - 0.24em));
      margin-top: -4rem;
    }
  }

  &:nth-child(3) {
    margin-left: calc(3 * (1em - 0.2em));
    opacity: 0.06;
    margin-top: 14.1rem;

    @include media('<mob') {
      margin-left: calc(3 * (1em - 0.26em));
      margin-top: 3rem;
    }
  }
}

.wbg__inner {
  display: block;
  position: relative;
  will-change: transform;
  transition: transform 1.8s cubic-bezier(0.4, 0, 0.2, 1);
}

// color and opacity for section
.zero:nth-child(1) {
  color: #000;
  //opacity: 0.03;
}

.zero:nth-child(2) {
  color: #363636;
  opacity: 0.5;
}

.zero:nth-child(3) {
  color: #454545;
  opacity: 0.1;
}

.first:nth-child(1) {
  color: #000;
  opacity: 0.03;
}

.first:nth-child(2) {
  color: #363636;
  opacity: 0.5;
}

.first:nth-child(3) {
  color: #454545;
  opacity: 0.1;
}

.second:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.second:nth-child(2) {
  color: #272727;
  opacity: 0.3;
}

.second:nth-child(3) {
  color: #000000;
  opacity: 0.1;
}

.third:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.third:nth-child(2) {
  color: #272727;
  opacity: 0.2;
}

.third:nth-child(3) {
  color: #000000;
  opacity: 0.05;
}

.fourth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.fourth:nth-child(2) {
  color: #000;
  opacity: 0.2;
}

.fourth:nth-child(3) {
  color: #000000;
  opacity: 0.1;
}

.fifth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.fifth:nth-child(2) {
  color: #272727;
  opacity: 0.2;
}

.fifth:nth-child(3) {
  color: #000000;
  opacity: 0.1;
}

.sixth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.sixth:nth-child(2) {
  color: #000;
  opacity: 0.2;
}

.sixth:nth-child(3) {
  color: #000000;
  opacity: 0.1;
}

.seventh:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.seventh:nth-child(2) {
  color: #000;
  opacity: 0.2;
}

.seventh:nth-child(3) {
  color: #000000;
  opacity: 0.1;
}

.eighth:nth-child(1) {
  color: #010683;
  opacity: 0.1;
}

.eighth:nth-child(2) {
  color: #414ebd;
  opacity: 0.1;
}

.eighth:nth-child(3) {
  color: #57599b;
  opacity: 0.1;
}

.ninth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.ninth:nth-child(2) {
  color: #272727;
  opacity: 0.3;
}

.ninth:nth-child(3) {
  color: #000;
  opacity: 0.1;
}

.tenth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.tenth:nth-child(2) {
  color: #272727;
  opacity: 0.3;
}

.tenth:nth-child(3) {
  color: #000;
  opacity: 0.1;
}

.eleventh:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.eleventh:nth-child(2) {
  color: #000;
  opacity: 0.2;
}

.eleventh:nth-child(3) {
  color: #000;
  opacity: 0.1;
}

.twelfth:nth-child(1) {
  color: #000;
  opacity: 0.1;
}

.twelfth:nth-child(2) {
  color: #303030;
  opacity: 0.1;
}

.twelfth:nth-child(3) {
  color: rgba(0, 0, 0, 0.525841);
  opacity: 0.1;
}

/* words end */

/* main section */
.main-section {
  position: relative;
  min-height: 100%;
  padding: 0;
  color: #131313;

  .layout-page {
    height: 100%;
  }

  &__layout {
    position: relative;
    height: 100%;
  }

  & .main-section__wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &__footer {
    width: 90%;
    position: absolute;
    bottom: 2.8rem;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      display: inline-flex;
      margin-right: 1rem;
    }

    @include media('<mob') {
      display: none;
    }
  }
}

/* main section end */


/* menu element */

.main-section__full-count {
  display: block;
  overflow: hidden;
  margin: 0 0 1.1rem 0.6rem;
  @include font-norm-reg;
  font-size: 2.3rem;
  line-height: 1;
  will-change: opacity;
  transition: opacity 0.7s;
  opacity: 0;
  pointer-events: none;

  @include media('<mob') {
    font-size: 1.7rem;
    line-height: 2.3rem;
    margin: 0 0 2.5rem 0;
  }

  &::before {
    content: '01';
    display: block;
    position: relative;
    @include antialiased;
    $prop: transform;
    will-change: $prop;

    transition: {
      property: $prop;
      duration: 0.8s;
      delay: 1.6s;
      timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    $translate: 0,
    120%;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }

  .s-ready & {
    &::before {
      $translate: 0, 0;
      transform: translate($translate);
      transform: translate3d($translate, 0);
    }
  }

  .s-ready & {
    opacity: 1;
    pointer-events: auto;
  }
}

.main-section__full-content {
  display: flex;
  align-items: flex-start;

  @include media('<mob') {
    display: block;
  }
}

.main-section__full-caption {
  $width: 56.6%;
  flex: 1 0 $width;
  max-width: $width;
  padding-right: 2rem;
  padding-left: 3rem;

  @include media('<mob') {
    $width: 100%;
    flex: 1 0 $width;
    max-width: $width;
    padding-right: 0rem;
    padding-left: 0px;
  }
}

.main-section__full-title {
  @include font-bold;
  font-size: 7.3rem;
  line-height: 1.03;
  padding-left: 3.7rem;
  will-change: opacity;
  transition: opacity 0.7s;
  opacity: 0;
  pointer-events: none;

  @include media('<mob') {
    font-size: 4.3rem;
    line-height: 4.6rem;
    margin-bottom: 2.5rem;
    padding-left: 0;
  }

  .s-ready & {
    opacity: 1;
    pointer-events: auto;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.main-section__full-description {
  $width: 26.5%;
  flex: 1 0 $width;
  max-width: $width;
  margin: 5.2rem 0 0;
  transition: opacity 0.7s;
  opacity: 0;

  p {
    &:nth-child(1) {
      @include media('<mob') {
        margin-bottom: 2rem;
      }
    }

    @include font-normal;
    font-size: 1.8rem;
    line-height: 1.45;

    @include media('<mob') {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  @include media("<tab") {
    margin-top: 1.7rem;
  }

  @include media('<mob') {
    max-width: 28rem;
  }

  .s-ready & {
    opacity: 1;
  }
}

.main-section__full-rect {
  display: none;
  width: 0.4rem;
  height: 20.3rem;
  background-color: #d8d8d8;
  border-radius: 0.41rem;
  align-self: center;
  margin-left: auto;
}


.st {
  display: block;
  overflow: hidden;
}

.sst {
  display: block;
  position: relative;
  @include antialiased;
  $prop: transform;
  will-change: $prop;

  transition: {
    property: $prop;
    duration: 1s;
    delay: 1.2s;
    timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  $translate: 0,
  102%;
  transform: translate($translate);
  transform: translate3d($translate, 0);

  .s-ready & {
    $translate: 0, 0;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }
}


/* menu element end */

/* case section */
.case-section {
  display: flex;
  align-items: center;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.6s;

  @include media('<mob') {
    align-items: flex-start;
    overflow: hidden;
  }


  &.s-visible {
    opacity: 1;
  }

  &__layout {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;

    .layout-page {
      height: 100%;
    }
  }

  &__align {
    display: flex;
    align-items: center;
    height: 100%;

    @include media('<mob') {
      display: block;
    }
  }

  &__caption {
    position: relative;
    $width: 30.8%;
    flex: 1 0 $width;
    max-width: $width;
    padding: 0 2rem 0.8rem 0;
    margin: 0 0 0 -0.2rem;

    @include media('<mob') {
      $width: 100%;
      flex: 1 0 $width;
      max-width: $width;
      top: 20%;
    }
  }

  &__count {
    position: absolute;
    left: 0;
    bottom: 100%;
    margin: 0 0 1rem 0.9rem;
    @include font-alt-normal;
    font-size: 2.3rem;
    line-height: 3.4rem;
    color: white;
    cursor: default;
    transition: opacity 0.6s 1.5s;
    opacity: 0;

    @include media('<mob') {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    &_dark-gray {
      color: #333;
    }

    &_gray {
      color: #919191;
    }

    &_whiteone {
      color: rgba(255, 255, 255, 0.3);
    }

    &_whitetwo {
      color: rgba(255, 255, 255, 0.44);
    }

    &_light-gray {
      color: #d8d8d8;
    }

    .s-ready & {
      opacity: 1;
    }
  }

  &__title {
    @include font-bold;
    font-size: 7.3rem;
    line-height: 7.5rem;
    color: white;

    @include media('<mob') {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }

    &_dark-gray {
      color: #333;
    }

    &_gray {
      color: #919191;
    }
  }

  &__technologies {
    @include font-demi;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff;
    opacity: 0.38;
    margin-top: 1.1rem;

    @include media('<mob') {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  &__description {
    $width: 26.3%;
    flex: 1 0 $width;
    max-width: $width;
    padding-right: 2rem;

    @include media('<mob') {
      position: absolute;
      bottom: 0;
      left: -1rem;
      padding: 0 2rem;
      display: flex;
      flex: 1 0 100%;
      min-width: 105%;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background: url(../img/shadow.svg) no-repeat center bottom/cover;
      height: 13.3rem;
    }

    &_gray {
      color: #919191;
    }
  }

  &__sub-title {
    margin: 0 0 2.3rem;
    @include font-important-bold;
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: white;

    @include media('<mob') {
      padding: 0;
      margin: 0 2rem 0 0;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    &_gray {
      color: #919191;
    }
  }

  &__figure {
    position: relative;
    $width: 42.9%;
    flex: 1 0 $width;
    max-width: $width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @include media('<mob') {
      height: auto;
      $width: 100%;
      flex: 1 0 $width;
      max-width: $width;

      position: static;
    }

    &-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 49rem;
      max-width: 120%;
      transform: translate(-50%, -50%);
      z-index: -1;

      &_10 {
        // z-index: 3;
      }

      // <992px
      @include media('<mob') {
        height: 25.8rem;
        width: 25.8rem;
        top: 75%;
      }

      &::before {
        content: '';
        display: block;
        @include ratio(1, 1);
      }
    }

    &-shade {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      box-shadow: 0px -5px 100px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      $prop: transform, opacity;
      will-change: $prop;
      z-index: 3;

      transition: {
        property: $prop;
        duration: 0.7s;
        delay: 0.8s;
        timing-function: ease-in-out;
      }

      opacity: 0;
      $scale: 0.25,
      0.25;
      transform: scale($scale);
      transform: scale3d($scale, 1);

      .s-ready & {
        opacity: 1;
        $scale: 1, 1;
        transform: scale($scale);
        transform: scale3d($scale, 1);
      }
    }

    &-zebra {
      position: absolute;
      left: -3.5rem;
      top: -3.5rem;
      width: calc(100% + 3.5rem * 2);
      height: calc(100% + 3.5rem * 2);

      &-l1,
      &-l2,
      &-l3 {
        position: absolute;
        box-shadow: 0px -5px 100px rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        $prop: transform, opacity;
        will-change: $prop;

        transition: {
          property: $prop;
          duration: 0.7s;
          timing-function: ease-in-out;
        }

        opacity: 0;
        $scale: 0.25,
        0.25;
        transform: scale($scale);
        transform: scale3d($scale, 1);
      }

      &-l1 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #f8f8f8;
        transition-delay: 0.8s;

        .s-ready & {
          opacity: 0.3;
          $scale: 1, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }

      &-l2 {
        left: 4.2rem;
        top: 4.2rem;
        width: calc(100% - 4.2rem * 2);
        height: calc(100% - 4.2rem * 2);
        background-color: white;
        transition-delay: 1s;

        .s-ready & {
          opacity: 0.3;
          $scale: 1, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }

      &-l3 {
        left: 9.2rem;
        top: 9.2rem;
        width: calc(100% - 9.2rem * 2);
        height: calc(100% - 9.2rem * 2);
        background-color: white;
        transition-delay: 1.2s;

        .s-ready & {
          opacity: 1;
          $scale: 1, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      opacity: 0;
      $prop: transform, opacity;
      will-change: $prop;

      transition: {
        property: $prop;
        duration: 0.7s;
        delay: 1.3s;
        timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      $translate: -50%,
      -50%;
      $scale: 0.85,
      0.85;
      transform: translate($translate) scale($scale);
      transform: translate3d($translate, 0) scale3d($scale, 1);

      @include media('<mob') {
        left: 50%;
        width: 70%;
        align-items: flex-end;
      }

      .s-ready & {
        opacity: 1;
        $translate: -50%, -50%;
        $scale: 1, 1;
        transform: translate($translate) scale($scale);
        transform: translate3d($translate, 0) scale3d($scale, 1);
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }

      &_social3 {
        @include media('<mob') {
          background: url(../img/img-case-03_mobile.png) no-repeat center bottom/70%;
        }
      }

      &_social3 img {
        @include media('<mob') {
          display: none;
        }
      }

      &_social4 {
        @include media('<mob') {
          background: url(../../img/img-case-04_mobile.png) no-repeat center bottom/100%;
        }
      }

      &_social4 img {
        @include media('<mob') {
          display: none;
        }
      }

      &_social10_dop {
        z-index: 2;
        position: absolute;
        bottom: -4rem;
        right: 1rem;
        width: 27.252rem;
        height: 16.808rem;

        @include media('<mob') {
          right: -4rem;
        }
      }

      &_social12 img {
        box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.188374);
      }
    }
  }

  &__rectangle {
    display: none;
    width: 0.4rem;
    height: 20.3rem;
    background: #d8d8d8;
    border-radius: 0.41rem;
  }
}

.ct,
.mt {
  display: block;
  overflow: hidden;
  padding: 0 0 0.7rem;
  margin: 0 0 -1rem;

  @include media('<mob') {
    display: inline;
  }
}

.cst,
.mst {
  display: block;
  position: relative;
  @include antialiased;
  $prop: transform, opacity;
  will-change: $prop;

  transition: {
    property: $prop;
    duration: 1s;
    delay: 0.8s;
    timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  $translate: 0,
  120%;
  transform: translate($translate);
  transform: translate3d($translate, 0);

  .no-js &,
  .s-ready &,
  .article-ready & {
    $translate: 0, 0;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }
}

/* case section end */

/* address */
.address {
  @include font-bold;
  font-size: 3.6rem;
  line-height: 1.25;
  padding-bottom: 2.5rem;
  color: $title-color;

  @include media('<mob') {
    font-size: 2.4rem;
  }
}

/* address end */

/* cont-list */
.cont-list {
  @include font-demi;
  font-size: 1.8rem;
  line-height: 1.44;
  color: $text-color;
  opacity: 0;
  transition: opacity 1s 0.8s;

  .no-js &,
  .s-ready & {
    opacity: 1;
  }

  &__item {
    display: block;
    margin-bottom: 0.2rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 0 0 currentColor;
    transition: box-shadow $animation-speed;
    margin-left: 2.4rem;

    &_first {
      color: #aeaeae;
    }

    &_second {
      @include font-bold;
      color: #3f3f3f;
    }

    &:hover {
      box-shadow: inset 0 -0.1em 0 currentColor;
    }

    &_dp {
      color: #0076e2;
      box-shadow: inset 0 -0.1em 0 #0076e2;
    }

    @include media('<mob') {
      font-size: 2.4rem;
      margin-left: 0;
    }
  }
}

/* cont-list end */

/* contacts section */
.contacts-section {
  display: flex;
  align-items: center;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.6s;

  &.s-visible {
    opacity: 1;
  }

  &__layout {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;

    @include media('<mob') {
      display: flex;
      align-items: center;
    }
  }

  &__align {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    @include media('<mob') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__caption {
    $width: 50.6%;
    flex: 1 0 $width;
    max-width: $width;
    padding-right: 2rem;

    @include media('<mob') {
      $width: 100%;
      flex: 1 0 $width;
      max-width: $width;
    }
  }

  &__content {
    $width: 48.4%;
    flex: 1 0 $width;
    max-width: $width;
    padding: 2rem 0 0;

    @include media('<mob') {
      $width: 100%;
      flex: 1 0 $width;
      max-width: $width;
      padding-top: 4.4rem;
    }
  }

  &__title {
    @include font-bold;
    font-size: 7.3rem;
    line-height: 1.03;
    color: $title-color;

    @include media('<mob') {
      font-size: 4.4rem;
      line-height: 4.6rem;
    }
  }

  &__address {
    margin-bottom: 1.9rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include media('<mob') {
      font-size: 2rem;
    }
  }

  &__cont-list {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media('<mob') {
    align-items: stretch;
  }
}

/* contacts section end */

/* entry */
.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3.4rem;

  &__content {
    padding-right: 2rem;
  }

  &__title {
    @include font-bold;
    font-size: 7.3rem;
    line-height: 1.03;
    padding-bottom: 1rem;
    color: $title-color;
  }

  &__figure {
    position: relative;
    $width: 32rem;
    flex: 1 0 $width;
    max-width: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s 1.2s;
    z-index: 1;

    .article-ready & {
      opacity: 1;
    }

    &::before {
      content: '';
      display: block;
      @include ratio(1, 1);
    }
  }

  &__figure-img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50rem;
    height: 50rem;
    $translate: -50%, -50%;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }
}

/* entry end */

/* article content */
.article-content {
  $intend: 11.2rem;
  padding-left: $intend;
  padding-right: $intend;
  opacity: 0;
  transition: opacity 1s 0.8s;

  .no-js &,
  .article-ready & {
    opacity: 1;
  }
}

/* article content end */

/* article share */
.article-share {
  position: absolute;
  position: sticky;
  top: 2rem;
  height: 0;

  @include media("<mob") {
    display: none;
  }
}

.share {
  will-change: opacity, transform;
  opacity: 0;
  transition: opacity 1s 0.8s, transform 1s 0.8s;

  .no-js &,
  .js & {
    opacity: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
    text-align: left;
    text-decoration: none;

    &:hover {
      filter: grayscale(0);
    }

    &>span {
      @include hide-text;
    }

    svg {
      $size: 2.4rem;
      display: block;
      height: $size;
      width: $size;
    }
  }
}

/* article share end */

/* ==================================== */
/* ============ ABOUT ============ */
/* ==================================== */

.about {
  background-color: #ffd600;
}

.about__opacity .wbg__item:nth-child(2) {
  opacity: 0.16;
}

.about-title {
  @include font-bold;
  font-size: 5.9rem;
  line-height: 6rem;
  margin-bottom: 10.607rem;

  @include media("<850px") {
    margin-bottom: 5.5rem;
  }

  @include media("<mob") {
    font-size: 4.8rem;
  }
}

.about-wrap {
  display: flex;
  justify-content: space-between;
}

.about-menu {
  position: sticky;
  top: 2rem;
  background-color: #fff;
  width: 14.2rem;
  height: 12.4rem;
  margin-left: 5.4rem;

  & nav a.about-menu__active,
  & nav a:hover {
    background-color: black;
    color: #fff;
  }

  & nav a {
    @include font-important-bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%;
    font-size: 1.2rem;
    padding: 1.47rem 0 1.47rem 2.1rem;
    line-height: 1;
    cursor: pointer;

    @include media("<tab") {
      font-size: 0.9rem;
      padding-left: 1.7rem;
    }
  }

  @include media("<tab") {
    width: 10rem;
    height: 11.4rem;
  }

  @include media("<mob") {
    display: none;
  }
}

.about-items__point {
  background-color: #fff;
  max-width: 59.9rem;
  padding: 3.4rem 3.4rem 5rem 3.4rem;
  margin-bottom: 5.8rem;
  margin-left: 1.3rem;

  & h3 {
    font-size: 3.6rem;
    line-height: 7.6rem;
    margin-bottom: 0.8rem;

    @include media("<tab") {
      font-size: 3.4rem;
    }

    @include media("<mob") {
      font-size: 3.0rem;
      line-height: 4.2rem;
    }
  }

  & .about-items__paragraph {
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include media("<tab") {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  @include media("<tab") {
    padding: 2.5rem;
  }

  @include media("<mob") {
    margin-left: 0;
    padding: 2.6rem 1.8rem 1.8rem;
  }
}

.about-items__block {
  & h4 {
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  &:not(:last-child)>p {
    margin-bottom: 2.856rem;
  }
}

.art-director {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;

  & img {
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  &__name-bold {
    text-transform: uppercase;
    @include font-bold;
  }

  & img {
    width: 9.3rem;
    height: 9.3rem;
  }

  &__button {
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 2.2rem;
    @include font-important-bold;
    background: rgba(33, 32, 32, 0.27);
    backdrop-filter: blur(20px);
    border: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    z-index: 12;
  }

  &__letter {
    @include font-bold;
    font-size: 26.208rem;
    line-height: 26.926rem;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.3;

    &:last-child {
      opacity: 0.1;
      line-height: 11rem;
    }
  }

  @include media("<800px") {
    display: none;
  }
}

.about-items__img-wrap {
  margin: 0 -3.4rem;

  @include media("<tab") {
    margin: 0 -2.5rem;
  }

  @include media("<mob") {
    margin: 0 -1.8rem;
  }
}

.about-items__paragraph-wrap {
  margin-top: -7rem;

  @include media("<mob") {
    margin-top: -2rem;
  }
}

// About Form

.about-form {
  background: #ffffff;
  box-sizing: border-box;

  & input {
    padding: 2.4rem;
    border: 1px solid #d2d2d2;
    width: 100%;
    font-size: 1.8rem;

    &:first-child {
      @include font-normal;
      border-radius: 1rem 1rem 0 0;
    }

    &::placeholder {
      @include font-normal;
      font-size: 1.8rem;
      color: #ababab;

      @include media("<tab") {
        font-size: 1.4rem;
      }
    }

    @include media("<tab") {
      font-size: 1.4rem;
    }
  }

  & textarea {
    @include font-normal;
    padding: 2.4rem;
    width: 100%;
    resize: none;
    border: 1px solid #d2d2d2;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.8rem;

    &::placeholder {
      @include font-normal;
      font-size: 1.8rem;
      color: #ababab;

      @include media("<tab") {
        font-size: 1.4rem;
      }
    }

    @include media("<tab") {
      font-size: 1.4rem;
    }
  }

  & button {
    @include font-important-bold;
    cursor: pointer;
    border: 0;
    text-transform: none;
    font-size: 1.4rem;
    padding: 1.5rem 5.8rem;
    color: #fff;
    background: #000000;
    border-radius: 0.5rem;
    margin-top: 2.5rem;

    @include media("<tab") {
      font-size: 1.2rem;
    }
  }
}


//exchange app

//modify
.exchangeAppImage-greenBg {
  background: #2CDAB0;
  border-radius: 3rem;
  position: relative;
  width: 100%;
  height: 82rem;
}

.exchangeApp__count {
  font-size: 2.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: #8C8C8C;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20rem;
    height: 1px;
    background-color: #8C8C8C;
  }
}

.exchangeAppAddNewCard-content-small-img-wrapper {
  width: 21.1rem;
  height: 45.7rem;

  .exchangeAppAddNewCard-content__small-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}


//common
.exchangeApp {
  overflow-x: hidden;
  background-color: #000;
  background: rgba(28,28,28,255);
}

.exchangeAppXScrollHidden  {
  overflow-x: hidden;
}

.exchangeAppLabel {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 1.5rem;

  .exchangeAppLabel__item {
    font-weight: bold;
    font-size: 1.4rem;
    color: #8C8C8C;
  }
}

.exchangeAppInfo {
  max-width: 51rem;
  padding: 1.5rem 0 6rem;

  .exchangeAppInfo__title {
    font-size: 7.2rem;
    line-height: 9rem;
    margin-bottom: 6.4rem;
    color: #fff;
  }

  .exchangeAppInfo__description {
    font-size: 2.5rem;
    line-height: 5.2rem;
    font-weight: 400;
    color: #ECECEC;
  }
}

.exchangeAppImage {
  margin-bottom: 50.3rem;
  border-bottom: 1px dotted #E5E5E5;

  .exchangeAppImage__bg-wrapper {
    width: 100%;
    position: absolute;
    top: -45%;
    transform: translateX(18%);

    .exchangeAppImage__bg {
      width: 87.6rem;
      height: 145.2rem;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.exchangeAppDetails {
  .exchangeAppDetails__title-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 10rem;

    .exchangeAppDetails__title-down {
      font-size: 48.9rem;
      line-height: 0.7;
      color: rgba(28,28,28,255);
      text-shadow: 2px 2px 0 rgba(37,37,37,255), 2px -2px 0 rgba(37,37,37,255), -2px 2px 0 rgba(37,37,37,255), -2px -2px 0 rgba(37,37,37,255), 2px 0px 0 rgba(37,37,37,255), 0px 2px 0 rgba(37,37,37,255), -2px 0px 0 rgba(37,37,37,255), 0px -2px 0 rgba(37,37,37,255);
    }

    .exchangeAppDetails__title-up {
      width: 100%;
      font-size: 9.6rem;
      line-height: 12rem;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
    }
  }

  .exchangeAppDetails-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .exchangeAppDetails__titles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 40%;
    margin-left: 7rem;

    .exchangeAppDetails__titles-item {
      width: 50%;

      span {
        display: inline-block;
        font-size: 1.2rem;
        letter-spacing: -0.04em;
        color: rgba(255, 255, 255, 0.44);
        margin-bottom: 1.3rem;
      }

      p {
        color: #fff;
      }
    }

    .exchangeAppDetails__titles-first p {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    .exchangeAppDetails__titles-third p {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    .exchangeAppDetails__titles-fouth p,
    .exchangeAppDetails__titles-second p {
      font-size: 1.7rem;
      line-height: 2.4rem;
    }
  }

  .exchangeAppDetails__colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 30%;
    margin-right: 7rem;

    .exchangeAppDetails__color-wrapper {
      width: 50%;

      &:first-child .exchangeAppDetails__color {
        background-color: #40FFD1;
        color: #000000;
      }

      &:nth-child(2) .exchangeAppDetails__color {
        background-color: #000000;
        color: #928E8E;
      }

      &:nth-child(3) .exchangeAppDetails__color {
        background-color: transparent;
        color: #928E8E;
      }

      &:last-child .exchangeAppDetails__color {
        background: #FFFFFF;
        color: #000000;
      }

      .exchangeAppDetails__color {
        width: 17.1rem;
        height: 17.1rem;
        text-align: center;
        line-height: 17.1rem;
        font-weight: normal;
        letter-spacing: -0.04em;
        border-radius: 15rem;
        margin-bottom: 6.8rem;
      }
    }
  }
}

.exchangeAppAbout {
  padding: 43.5rem 38.6rem 30rem 46.5rem;

  .exchangeAppAbout__title {
    font-size: 4.8rem;
    line-height: 4.5rem;
    color: #FFFFFF;
    margin-left: calc(100% - 40rem);
    margin-bottom: 8rem;

    &:after {
      content: '';
      display: block;
      margin-top: 1.85rem;
      background-color: #fff;
      height: 1px;
      width: 40rem;
    }
  }

  .exchangeAppAbout-description {
    font-size: 2.5rem;
    line-height: 3.7rem;
    color: #ECECEC;
    position: relative;

    &:before {
      content: 'Exchange app';
      position: absolute;
      left: -15.7rem;
      top: 0;
      bottom: 0;
      display: inline-block;
      font-size: 7.2rem;
      line-height: 10rem;
      color: #FFFFFF;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }
}

.exchangeAppInterface {
  display: flex;
  justify-content: space-between;

  .exchangeAppInterface__img-wrapper {
    height: 64.8rem;

  .exchangeAppInterface__img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .exchangeAppInterface__info-wrapper {
    max-width: 37.9rem;

    .exchangeAppInterface__title {
      font-size: 7.2rem;
      color: #FFFFFF;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
      margin-bottom: 6rem;
    }

    .exchangeAppInterface__description {
      font-size: 2.5rem;
      line-height: 4.2rem;
      color: #ECECEC;
    }
  }

  .exchangeAppInterface__icon-cards {
    display: flex;

    .exchangeAppInterface__icon-card {
      text-align: center;

      &:not(:last-child) {
        margin-right: 7.4rem;

        .exchangeAppInterface__icon-card-img-wrapper {
          &:after {
            content: "";
            display: block;
            border: 2px dashed rgba(48, 48, 48, 0.9);
            position: absolute;
            width: 7.4rem;
            top: 50%;
            left: 100%;
          }
        }
      }

      .exchangeAppInterface__icon-card_title {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #555353;
        margin-bottom: 1.3rem;
        white-space: nowrap;
      }

      .exchangeAppInterface__icon-card-img-wrapper {
        width: 9.8rem;
        height: 19.1rem;
        position: relative;

        .exchangeAppInterface__icon-card_img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.exchangeAppInterfaceContinue {
  display: flex;
  justify-content: space-between;
  top: -36rem;
  margin-bottom: -36rem;
  z-index: -1;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    background: #2CDAB0;
    border-radius: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 82rem;
    z-index: -1;
  }

  .exchangeAppInterfaceContinue__zippy {
    margin-left: 6.7rem;
    margin-top: 134.8rem;
    max-width: 37.9rem;

    .exchangeAppInterfaceContinue__zippy-img {
      width: 36.3rem;
      height: 27.4rem;
      margin-bottom: 25rem;
      position: relative;
    }

    .exchangeAppInterfaceContinue__zippy-decription {
      font-size: 2.5rem;
      line-height: 4.2rem;
      color: #ECECEC;
    }
  }

  .exchangeAppInterfaceContinue__center {
    display: flex;
    flex-direction: column;
    margin-top: 24.5rem;

    .exchangeAppInterfaceContinue__center-first {
      margin-bottom: 21.4rem;
      width: 41.1rem;
      height: 88.9rem;
    }

    .exchangeAppInterfaceContinue__center-second {
      margin-bottom: 20.7rem;
      width: 36.3rem;
      height: 27.4rem;
    }
  }

  .exchangeAppInterfaceContinue__minicard {
    display: flex;
    flex-direction: column;
    margin-right: 19rem;
    margin-top: 24.5rem;

    .exchangeAppInterfaceContinue__minicard-first {
      margin-bottom: 20.5rem;
      width: 21.1rem;
      height: 45.7rem;
    }

    .exchangeAppInterfaceContinue__minicard-second {
      width: 21.1rem;
      height: 45.2rem;
    }
  }
}

.exchangeAppPresentationCard {
  padding: 25rem 0;
  max-width: 191.4rem;
  max-height: 172.3rem;
  width: 100%;
  height: 100%;

  .exchangeAppPresentationCard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.exchangeAppAddNewCard {
  padding: 20rem 0;

  .exchangeAppAddNewCard__title {
    font-size: 7.2rem;
    line-height: 10rem;
    margin-bottom: 17.1rem;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
  }

  .exchangeAppAddNewCard-content {
    display: flex;
    justify-content: space-between;

    .exchangeAppAddNewCard-content__column:nth-child(2) {
      .exchangeAppAddNewCard-content-small-img-wrapper:first-child {
        margin-bottom: 19.2rem;
      }
    }

    .exchangeAppAddNewCard-content__column:last-child {
        .exchangeAppAddNewCard-content__paragraph {
          margin-bottom: 28rem;
        }
    }
  }

  .exchangeAppAddNewCard-content-large-img-wrapper {
    width: 41rem;
    height: 88.8rem;

    .exchangeAppAddNewCard-content__large-img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .exchangeAppAddNewCard-content__paragraph {
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: 400;
    color: #ECECEC;
    max-width: 49.1rem;
    width: 100%;
  }
}

.exchangeAppRegistrationProfile {
  .exchangeAppRegistrationProfile-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 28.2rem;
    padding-right: 36.8rem;
    padding-left: 7.4rem;

    .exchangeAppRegistrationProfile-header__title {
      font-size: 7.2rem;
      line-height: 10rem;
      color: #fff;
    }
  }

  .exchangeAppRegistrationProfile-interfaces {
    position: relative;
    display: flex;

    &:after {
      content: "";
      display: inline-block;
      background: #2cdab0;
      border-radius: 3rem;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 82rem;
      z-index: -1;
    }

    .exchangeAppRegistrationProfile-interfaces__img-wrapper {
      width: 56.4rem;
      height: 104.3rem;

      .exchangeAppRegistrationProfile-interfaces__img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .exchangeAppRegistrationProfile-interfaces__column {
      &:first-child {
        margin-right: 14.3rem;
        margin-top: -18rem;
      }

      &:nth-child(2) {
        margin-right: 21rem;
        margin-top: 9.6rem;
      }

      &:nth-child(3) {
        margin-top: 9.6rem;
      }
    }
  }
}